<div class="form-container">
  <div class="new-sketch-form">

    <h1>Edit Sketch</h1>

    <%= render "form", sketch: @sketch %>
    <div class="image-preview">
      <%= image_tag @sketch.image, id: 'image-preview', alt: 'Image Preview' %>
    </div>
  </div>
</div>

<script>
  document.addEventListener('turbo:load', function() {
    const imageInput = document.querySelector('#sketch_image');
    const imagePreview = document.querySelector('#image-preview');

    imageInput.addEventListener('change', function() {
      const file = imageInput.files[0];
      if (file) {
        const reader = new FileReader();

        reader.onload = function(e) {
          imagePreview.src = e.target.result;
        };

        reader.readAsDataURL(file);
      }
    });
  });
</script>
