<div class="form-container">
  <div class="new-sketch-form">

    <h1>New Sketch</h1>
    <turbo-frame id="form-frame">
      <%= render "form", sketch: @sketch %>
    </turbo-frame>
    <div class="image-preview">
      <img id="image-preview" src="#" alt="Image Preview" />
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const imageInput = document.querySelector('#sketch_image');
    const imagePreview = document.querySelector('#image-preview');

    imageInput.addEventListener('change', function() {
      const file = imageInput.files[0];
      if (file) {
        const reader = new FileReader();

        reader.onload = function(e) {
          imagePreview.src = e.target.result;
        };

        reader.readAsDataURL(file);
      }
    });
  });
</script>
