<h1>Challenge</h1>
<%= image_tag @sketch.image, size: '200x200' %>
<ul>
  <li><%= link_to "Edit", edit_sketch_path(@sketch) %></li>
  <li><%= link_to "Destroy", sketch_path(@sketch), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Votes</h2>
