<h1>Challenge</h1>
<% if @sketch.image.present? %>
  <%= image_tag @sketch.image, size: '200x200' %>
<% else %>
  Image not found for sketch id: <%= @sketch.id %>
<% end %>
<ul>
  <li><%= link_to "Edit", edit_sketch_path(@sketch) %></li>
  <li><%= link_to "Destroy", sketch_path(@sketch), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Votes</h2>
