<div class="login">
	<div class="container">
		<div class="form">
			<h1>log in</h1>
			<%= turbo_frame_tag "form-frame" do %>
				<%= render "sessions/form", user: @user %>
			<% end %>

			<div class="separator-line"></div>

			<div class="account-question">
  				Don't have an account? <%= link_to "Sign up", signup_path %>
			</div>
		</div>
	</div>
</div>
