<div class="login">
  <div class="container">
    <div class="form">

      <h1>sign up</h1>

      <%= turbo_frame_tag "user-form" do %>
        <%= render "users/form", user: @user %>
      <% end %>

      <div class="separator-line"></div>

      <div class="account-question">
        Already have an account? <%= link_to "Log in", login_path %>
      </div>

    </div>
  </div>
</div>
