<div class="login">
  <div class="container">
    <div class="form">

      <h1>sign up</h1>

      <%= turbo_frame_tag "user-form" do %>
        <%= render "users/form", user: @user %>
      <% end %>

    </div>
  </div>
</div>
