<h1>Challenges</h1>

<ul>
  <% @challenges.each do |challenge| %>
    <li>
      <a href="/challenges/<%= challenge.id %>">
        <%= challenge.title %>
      <a>
    </li>
  <% end %>
</ul>

<%= link_to "New Challenge", new_challenge_path %>