body {
  margin: 0;
  background-color: #fefdfa;
  font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

main {
  margin-top: 100px;
  padding: 0 40px;
}

h1 {
  font-family: 'Mansalva', cursive;
  font-size: 60px;
}
  
h3 {
  border: none;
  color: #fff;
  font-size: 25px;
  text-align: center;
}
  
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  height: 100px;
  padding: 0 40px;
}

/* Style for the main title */
.main-information h1 {
  font-size: 50px;
  margin: 0;
}

.main-information a {
  color: #2b2b2b; /* Set the desired color for the link */
  text-decoration: none; /* Remove the underline */
}

/* Style for the left side of the navbar */
.nav-left ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-left ul li {
  margin-right: 20px;
}

.nav-left ul li:last-child {
  margin-right: 0;
}

.nav-left ul li a {
  color: #434343;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.nav-left ul li a:hover {
  text-decoration: none;
}

/* Style for the right side of the navbar */
.nav-right ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-right ul li {
  margin-left: 20px;
}

.nav-right ul li:last-child {
  margin-left: 20px;
}

.nav-right ul li a {
  color: #434343;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.nav-right ul li a:hover {
  text-decoration: none;
}

/* Style for the login and signup buttons */
.nav-block ul li.active a {
  background-color: #434343;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.nav-block ul li:last-child a:hover {
  background-color: #66818c;
  color: #fff;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  text-decoration: none;
}

.appeal {
  padding: 0 120px;
  text-align: center;
  margin-bottom: 20px;
}

.appeal h2 {
  margin: 0;
  font-size: 24px;
  color: #434343;
}

.new-sketch-button a {
  text-decoration: none;
  color: #000000; 
}

.new-sketch-button {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background-color: #9ddddb;
  color: #000000;
  width: 200px; 
  height: 200px; 
  border-radius: 50%;
  font-size: 44px;
  font-family: 'Mansalva', cursive;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.new-sketch-button:hover {
  background-color:#66818c
}

.background-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 78vh;
  background-image: url('/assets/background-3.jpg');
  background-size: 100% auto;
  background-position: calc(top - 50px);
  background-repeat: no-repeat;
}

.plus img {
  width: 100px;
  height: 100px;
}
  
.sketch img {
  width: 30%;
  height: auto;
}

.sketches {
  column-count: 3; /* Center the sketch blocks horizontally */
}
  
.sketches a {
  padding: 10px;
  width: 100%; /* Set the width of each sketch to 100% */
  margin-bottom: 20px; /* Add some space between sketches */
}
  
.sketches img {
  width: 100%;
  height: auto; /* Let the height adjust automatically based on the aspect ratio */
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  
.vote-button {
  width: 100px;
  height: auto;
  border: none;
  background-color: transparent;
}

.vote-button img {
  width: 100px;
  height: auto;
}
  
.vote-button.voted {
  opacity: 0.5;
}
  
.voted-button img {
  opacity: 0.5;
}

.challenge-list ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.challenge-list li {
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
}

.challenge-sketch {
  position: relative;
  text-align: center;
}

.challenge-list img {
  max-width: 100%;
  height: auto;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.challenge-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
