body {
  margin: 0;
  background-color: #fefdfa;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

main {
  flex: 1;
  margin-top: 100px;
  padding: 0 40px;
}

h1 {
  font-family: 'Mansalva', cursive;
  font-size: 60px;
}
  
h3 {
  border: none;
  color: #fff;
  font-size: 25px;
  text-align: center;
}
  
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  height: 100px;
  padding: 0 40px;
}

.main-information h1 {
  font-size: 50px;
  margin: 0;
  padding: 0 20px;
}

.main-information a {
  color: #2b2b2b;
  text-decoration: none; 
}

.nav-links ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links ul li {
  margin-right: 60px;
}

.nav-links ul li:last-child {
  margin-right: 0;
}

.nav-links ul li a {
  color: #434343;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
}

.nav-links ul li a:hover {
  text-decoration: none;
}

.nav-block ul li.active a {
  border: 2px solid #434343;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.nav-block ul li:last-child a:hover {
  background-color: #66818c;
  color: #fff;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  text-decoration: none;
}

.appeal {
  padding: 0 120px;
  text-align: center;
  margin-bottom: 20px;
}

.appeal h2 {
  margin: 0;
  font-size: 24px;
  color: #434343;
}

.new-sketch-button a {
  text-decoration: none;
  color: #000000; 
}

.new-sketch-button {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background-color: #9ddddb;
  color: #000000;
  width: 200px; 
  height: 200px; 
  border-radius: 50%;
  font-size: 44px;
  font-family: 'Mansalva', cursive;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.new-sketch-button:hover {
  background-color:#66818c
}

.background-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 78vh;
  background-image: url('/assets/background-3.jpg');
  background-size: 100% auto;
  background-position: calc(top - 50px);
  background-repeat: no-repeat;
}

.sketch-container {
  display: flex;
  height: calc(100vh - 100px);
  overflow: hidden;
}

.sketch {
  flex: 1; 
  position: relative;
  overflow: hidden;
}

.sketch img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.sketch-info {
  flex: 1;
  padding: 20px;
}

.sketch-info ul {
  margin: 0; 
  padding: 0;
  list-style: none;
}

.sketch-info h1 {
  font-size: 30px;
  color: #2b2b2b;
}

.sketch-info a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.sketch-info a:hover {
  color: #9ddddb;
}

.sketch-edit-button{
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
  background-color: #9ddddb;
  border-radius: 25px;
  margin-top: 10px;
  margin-right: 10px;
  transition: background-color 0.3s ease-out;
  color: #000;
}

.sketch-edit-button:hover {
  background-color:#66818c;
}

.sketch-edit-button a:hover {
  color: #fff;
}

.sketch-delete-button {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #9ddddb;
  border-radius: 25px;
  margin-top: 10px;
  transition: background-color 0.3s ease-out;
}

.sketch-delete-button:hover {
  background-color:#dffffe;
}

.sketches {
  column-count: 3;
}
  
.sketches a {
  padding: 10px;
  width: 100%; /* Set the width of each sketch to 100% */
  margin-bottom: 20px; /* Add some space between sketches */
}
  
.sketches img {
  width: 100%;
  height: auto; /* Let the height adjust automatically based on the aspect ratio */
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.vote-button {
  width: 100px;
  height: auto;
  border: none;
  background-color: transparent;
}

.vote-button img {
  width: 100px;
  height: auto;
}
  
.vote-button.voted {
  opacity: 0.5;
}

.voted-button img {
  opacity: 0.5;
}

.challenges-page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 78vh;
  background-image: url('/assets/background-12.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.challenges-page-title h1 {
  font-size: 120px;
  color: #66818c;
  margin: 0;
}

.challenges-page-title h2 {
  font-size: 18px;
  color:#66818c;
  max-width: 700px;
}

.challenge-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.challenge-list li {
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.challenge-item {
  margin-bottom: 20px;
}

.challenge-item a {
  text-decoration: none;
  color: #434343;
}

.challenge-link {
  text-decoration: none;
  color: inherit;
}

.challenge-content {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 60px;
  padding-left: 60px;
}

.challenge-image {
  flex: 1;
}

.image-container {
  max-width: 100%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image-container img {
  width: 100%;
  max-height: 300px; 
}

.challenge-details {
  flex: 2;
  padding-left: 60px;
}

.challenge-details h2 {
  font-size: 28px;
  margin-bottom: 5px;
}

.challenge-details p {
  font-size: 19px;
  margin-bottom: 10px;
  max-height: 4.5em; 
  width: 100%;        
  overflow: hidden;      
  text-overflow: ellipsis;
  white-space: normal;  
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.details-button {
  font-weight: 400;
  display: inline-block;
  background-color:#9ddddb;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s ease-out;
}

.details-button:hover {
  background-color:#66818c; 
}

.login {
display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form {
  text-align: center;
}

.login h1 {
  font-size: 44px;
  margin-bottom: 20px;
  color: #333;
}

.form-field {
  margin-bottom: 15px;
}

.form-input {
  width: 80%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-input::placeholder {
  color: #999;
}

.btn-submit {
  background-color: #9ddddb;
  color: #000000;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-out;
}

.btn-submit:hover {
  background-color:#66818c
}

.challenge-voting-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.votes-challenge-button,
.participate-challenge-button {
  padding: 10px 20px;
  margin: 0px 10px;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s ease-out;
  font-size: 24px;
}

.votes-challenge-button {
  background-color: #66818c;
  color: #fffaec; 
}

.votes-challenge-button:hover {
  background-color: #9ddddb; 
}

.participate-challenge-button {
  border: 2px solid #66818c;
  color:#66818c
}

.participate-challenge-button:hover {
  background-color: #dffffe;
}

.scroll-to-description {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.description-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 30px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #333;
  margin-left: 5px;
}

.description-label:hover {
  background-color: #e0e0e0;
}

.competition-details {
  margin-top: 20px;
  max-width: 800px;
}

.competition-details h3 {
  color: #66818c;
  font-size: 30px;
  margin-bottom: 10px;
}

.competition-details p {
  font-size: 20px;
  line-height: 1.6;
  color: #333;
}

.header-line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.new-sketch-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-sketch-form label {
  font-size: 16px;
  margin-bottom: 5px;
}

.new-sketch-form input[type="file"],
.new-sketch-form select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
  background-color: #fff;
}

.new-sketch-form input[type="file"] {
  padding: 8px 0;
}

.new-sketch-form select {
  padding: 10px;
}

/* Styles for the submit button */
.new-sketch-form input[type="submit"] {
  padding: 10px 20px;
  background-color: #66818c;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-sketch-form input[type="submit"]:hover {
  background-color: #9ddddb;
}

.image-preview {
  text-align: center;
  margin-top: 20px;
}

#image-preview {
  max-width: 100%;
  max-height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-sketch-form h1 {
  font-size: 30px;
  margin: 0;
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
}

.sketches-for-voting {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  margin-top: 30px;
}

.challenge-sketches-container {
  width: calc(33.33% - 20px);
  position: relative;
  margin-bottom: 20px; 
}

.challenge-sketches-container img {
  width: 100%;
  border-radius: 5px;
}

.sketch-vote {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.vote-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 36vh;
}

.vote-section h1 {
  font-size: 74px;
  color: #66818c;
  margin: 0;
  max-width: 900px;
  margin-top: 20px;
}

.vote-section p {
  font-size: 18px;
  color: #66818c;
}

.burger {
  display: none;
}

.burger .bar {
  width: 25px;
  height: 3px;
  background-color: #434343;
  margin: 4px 0;
}

#demo-banner {
  position: fixed;
  bottom: 40px; 
  right: 40px;
  background-color: #ffffff;
  color:#000; 
  padding: 20px;
  border-radius: 10px; 
  z-index: 1000;
  width: auto; 
  max-width: 45%;
  overflow: hidden; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0.2, 0.2, 0.2, 0.2);
}

.banner-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
}

#close-banner {
  background-color:#66818c;
  color:#ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 30px;
  font-size: 18px;
}

.title-banner {
  color: #66818c;
  font-size: 22px;
  font-family:'Poppins';
  margin: 0;
  text-align: center;
}

.text-banner {
  font-size: 14px;
}

.user-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 78vh;
  background-image: url('/assets/user-background.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #66818c;
}

.user-welcome h1 {
  font-size: 76px;
  margin: 0;
}

.your-sketches {
  text-align: center; 
  margin-top: 40px;
  font-size: 28px;
  color: #434343; 
}

.your-sketch-caption a {
  text-decoration: none;
  color:#000;
}

.your-sketch-caption {
  font-size: 18px;
}

.delete-accaunt-button {
  padding: 10px 20px;
  margin: 0px 10px;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s ease-out;
  font-size: 18px;
  background-color:#2b2b2b;
  bottom: 60px;
  right: 60px; 
  position: absolute;
}

.delete-accaunt-button a {
  color:#fefdfa;
  text-decoration: none;
}

.delete-accaunt-button:hover {
  background-color:#9ddddb;
}

.sketch-count{
  margin: 0px 10px;
  border-radius: 30px;
  font-size: 18px;
  bottom: 60px; 
  position: absolute;
}

footer, footer ul, footer li, footer a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

footer {
  background-color:rgb(239, 255, 254);
  padding: 30px 0;
  text-align: center;
  margin-top: auto;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer ul {
  display: flex;
}

.footer li {
  margin: 0 15px;
  font-size: 14px;
}

.footer a {
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.footer a:hover {
  color:#66818c;
}

@media screen and (max-width: 768px) {
  .burger {
    display: block;
    cursor: pointer;
    z-index: 20;
  }

  .navbar.active .nav-links {
    display: block;
  }

  .navbar.active .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .main-information {
    z-index: 15;
    position: fixed;
    padding-left: 60px;
  }

  .main-information h1 {
    font-size: 30px;
    padding: 0;
  }

  .nav-links {
    display: none;
    background-color: #ffffff;
		flex-direction: column;
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0; bottom: 0; left: 0; right: 0;
		z-index: 10;
		overflow-y:auto;
		padding: 60px 50px;
		animation: navAnimation 0.4s;
  }
  
  .nav-links ul {
    list-style: none;
    padding: 0;
    margin-top: 50px;
  }
  
  .nav-links ul li {
    text-align: left;
    margin: 0;
		padding-top: 20px;
		padding-bottom: 20px;
  }

  .nav-links ul li.active {
    border-bottom: 3px solid #9ddddb;
  }
  
  .nav-links ul li a {
    margin: 0;
    color: #434343;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }

  .nav-block ul li.active a {
    border: none;
    padding: none;
    border-radius: none;
    font-size: 22px;
  }
  .nav-links ul li a:hover {
    text-decoration: none;
  }

  @keyframes navAnimation {
		from {opacity: 0}
		to {opacity: 1}
	}

  .background-section {
    height: auto;
    justify-content: flex-start;
    background-image: none;
  }

  .new-sketch-button {
    width: 100px;
    height: 100px;
    font-size: 22px;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .sketches {
    column-count: 1; 
  }
  
  .sketches a {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .sketches img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .appeal {
    padding: 0 10px;
    text-align: center;
    margin-bottom: 10px; 
  }
  
  .appeal h2 {
    padding-top: 40px;
    margin: 0;
    font-size: 18px;
    color: #434343;
  }

  .challenges-page-title {
    min-height: auto;
    background-image: none;
  }
  
  .challenges-page-title h1 {
    margin-top: 20px;
    font-size: 50px;
  }
  
  .challenges-page-title h2 {
    margin-top: 20px;
    font-size: 16px;
    max-width: 100%;
  }

  .challenge-content {
    flex-direction: column; 
    padding: 10px;
  }

  .challenge-details {
    padding: 0;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .challenge-details h2 {
    font-size: 24px;
    margin-bottom: 0px;
  }

  .challenge-details p {
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
  }

  .details-button {
    display: flex;
    justify-content: center;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-container img {
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain;
  }

  .sketch-container {
    flex-direction: column;
    height: auto;
  }

  .sketch {
    width: 100%;
  }

  .sketch-info {
    padding: 10px;
  }

  .sketch-buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .sketch-edit-button,
  .sketch-delete-button {
    font-size: 16px;
    flex: 1;
    padding: 12px 24px;
    margin-top: 10px;
    text-align: center;
  }

  .sketch-info h1 {
    font-size: 24px; 
  }  
  
  .votes-challenge-button, .participate-challenge-button {
    margin: 5px 5px;
  }

  .scroll-to-description {
    display: none;
  }

  .competition-details h3 {
    font-size: 24px;
    color:#434343;
  }
  .competition-details p {
    font-size: 18px;
    line-height: 1.5;
  }

  .sketches-for-voting {
    display: block; 
  }

  .challenge-sketches-container {
    width: 100%;
  }
  
  .vote-section {
    min-height: auto;
  }

  .vote-section h1 {
    font-size: 36px;
  }

  .vote-section p {
    font-size: 16px;
  }

  .form-container {
    padding-top: 20px;
    justify-content: flex-start;
  }

  .sketch-form-submit {
    display: flex;
    justify-content: flex-end;
  }

  #demo-banner {
    bottom: 0px;
    right: 0px;
    padding: 14px;
    max-width: 100%;
    border-radius: 0px;
  }
  
  .title-banner{
    font-size: 14px;
  }

  .text-banner {
    font-size: 10px;
  }

  #close-banner {
    font-size: 14px;
    padding: 14px 26px;
  }

  .user-welcome {
    min-height: auto;
    background-image: none;
  }

  .user-welcome h1 {
    margin-top: 30px;
    font-size: 36px;
  }

  .user-welcome h1 br {
    display: none;
  }

  .your-sketches {
    font-size: 18px;
  }

  .your-sketch-caption {
    font-size: 14px;
  }

  .delete-accaunt-button, .sketch-count {
    font-size: 14px;
    padding: 8px 16px;
    position: relative;
    bottom: 0;
    right: 0;
  }

  .footer li {
    margin: 10px 10px;
  }

  .footer ul {
    display: flex;
    flex-direction: column;
  }

}
