html, body, p {
  margin: 15px 30px;
}
  
body {
  background-color: #fefdfa;
  font-family: 'Poppins', sans-serif;
}
  
h1 {
  font-family: 'Mansalva', cursive;
  font-size: 60px;
}

h3 {
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  text-align: center;
}

header {
  text-align: center;
}

.nav ul li {
  display: inline;
}

.plus img {
  width: 100px;
  height: 100px;
}

.sketch img {
  width: 30%;
  height: auto;
}

.sketches {
  display: flex;
  flex-wrap: wrap;
}

.sketches a {
  width: 33.33%;
}

.sketches img {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 10px;
}

.vote-button {
  width: 100px;
  height: auto;
  border: none;
  background-color: transparent;
}

.vote-button img {
  width: 100px;
  height: auto;
}

.challenge-list ul li {
  display: block;
}
